$color_1: #212121;
$color_2: #fff;
$color_3: #1778f2;
$font-family_1: inherit;
$background-color_1: #fff;
$background-color_2: tomato;
$border-color_1: #1778f2;

.form-container {
  max-width: 430px;
  width: 430px;
  background-color: $background-color_1;
  padding: 32px 24px;
  font-size: 14px;
  font-family: $font-family_1;
  color: $color_1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 13rem auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  button {
    &:active {
      scale: 0.95;
    }
  }
  .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input {
      //   width: 100%;
      padding: 12px 16px;
      border-radius: 6px;
      font-family: $font-family_1;
      border: 1px solid #ccc;
      &::placeholder {
        opacity: 0.5;
      }
      &:focus {
        outline: none;
        border-color: $background-color_2;
      }
    }
  }
  .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family_1;
    color: $color_2;
    background-color: $background-color_2;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    &:hover {
      background-color: $background-color_2;
    }
  }
  .link {
    color: $color_3;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .signup-link {
    align-self: center;
    font-weight: 500;
    .link {
      font-weight: 400;
      color: $background-color_2;
    }
  }
}
