.productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;

    img {
        width: 14vmax;
    }

    div {
        margin: 0.5vmax;
        display: flex;
        justify-content: flex-start;

        span {
            margin: 0.5vmax;
            font: 300 0.7vmax "Roboto";
        }
    }


    p {
        font-family: "Roboto";
        font-size: 1.2vmax;
        margin: 1vmax 0.5vmax;
        margin-bottom: 0;
    }

    span {
        margin: 0.5vmax;
        color: tomato;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 1vmax;
    }

    &:hover {
        box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
        transform: translateY(-1vmax);
    }
}