$themes: (
  light: (
    bodyBackgroundColor: #f8f8fa,
    footerBackground: #222121,
    footerColor:#fff,
    textColor: #000,
    toggleBackground: #dfe4ea,
    gradientBackground:linear-gradient(to right, #635dc0, #3027ae),
    primaryTextColor:#ffffff,
    outlinedButtonColor:#fff,
    outlinedButtonBorder:1px solid #fff,
    hoveredButtonBackground:#ffffff00
   
  ),
  dark: (
    bodyBackgroundColor: #222736,
    footerBackground: #36394c,
    footerColor:#c4bbbb,
    textColor: #eff2f7,
    toggleBackground: #606071,
    gradientBackground:linear-gradient(to bottom, #36394c, #606071),
    primaryTextColor:#000000,
    outlinedButtonColor:#000,
    outlinedButtonBorder:1px solid #fff,
    hoveredButtonBackground:#ffffffd2

  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
