.container {
  max-width: 350px;
  background: #eaebef;
  margin: 30 auto;
  //   background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: tomato 0px 15px 30px -20px;
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: tomato;
    width: 100%;
    margin-bottom: 20px;
  }
  .paragraph {
    color: #4f6372;
  }
  .form {
    margin-top: 20px;

    .error-message {
      color: red;
      font-size: 12px;
    }
    .forgot-password {
      display: block;
      margin-top: 10px;
      margin-left: 10px;
      a {
        font-size: 11px;
        color: tomato;
        text-decoration: none;
      }
    }
    .file-input-container {
      margin-top: 15px;
    }

    .custom-file-label {
      background-color: #fff;
      color: tomato;
      padding: 10px;
      border: none;
      border-radius: 5px;
      border: 1px dashed tomato;
      cursor: pointer;
      display: block;
      text-align: center;
    }

    input[type='file'] {
      display: none;
    }
  }
}
